.admin {
  min-height: 89vh;

  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-violet);
  }

  label {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1vh;
  }

  .button-container {
    display: flex;
    gap: 1vw;

    button {
      padding: 5px 20px;
      font-size: 1.25rem;
      font-weight: 700;
      border-radius: 5px;
      cursor: pointer;
      border: solid 2px var(--color-violet);
      color: var(--color-violet);
      transition: all 0.3s ease;
    }

    button.active,
    button:hover {
      background-color: var(--color-violet);
      color: white;
    }
  }

  table {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);

    thead tr {
      border-bottom: solid 2px gray;
    }

    tr {
      display: flex;
      width: inherit;
      justify-content: space-between;

      th {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 10vw;
        font-size: 1.5rem;
        padding: 20px 0;
        color: gray;
      }

      td {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 10vw;
        padding: 20px 0;

        p {
          text-align: center;
          font-size: 1.25rem;
          font-weight: 600;
        }
      }
    }
  }

  .user-list {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    .edit-user {
      padding: 30px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      button {
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 1.25rem;
        font-weight: 800;
        cursor: pointer;
        border: solid 2px var(--color-violet);
        color: var(--color-violet);
        transition: all 0.3s ease;
      }

      button:hover {
        color: white;
        background-color: var(--color-violet);
      }

      .header {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2vw;
        margin-bottom: 5vh;

        label {
          width: 10vw;
          margin: 0;
        }

        .input-field {
          width: 20vw;
          display: flex;
          align-items: center;

          input {
            width: calc(100% - 20px);
            padding: 10px;
            font-size: 1.25rem;
            font-weight: 500;
            border: none;
            outline: none;
            background-color: rgb(230, 230, 230);
            border-radius: 5px;
          }
        }
      }

      .edit-form {
        .input-container {
          display: flex;
          justify-content: space-between;
          padding: 30px 0;

          input {
            width: calc(100% - 20px);
            padding: 10px;
            font-size: 1.25rem;
            font-weight: 500;
            border: none;
            outline: none;
            background-color: rgb(230, 230, 230);
            border-radius: 5px;
          }

          .input-field {
            display: flex;
            flex-direction: column;
            min-width: 25vw;

            select {
              padding: 10px 10px;
              font-size: 1.25rem;
              font-weight: 500;
              border: none;
              outline: none;
              background-color: rgb(230, 230, 230);
              border-radius: 5px;
            }
          }
        }

        .image-upload {
          display: flex;
          flex-direction: column;
          align-items: center;

          input {
            width: 20vw;
          }
        }

        .submit-btn {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  .verify-docs {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    td {
      button {
        padding: 5px 20px;
        font-size: 1.25rem;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
        border: solid 2px var(--color-violet);
        color: var(--color-violet);
        transition: all 0.3s ease;
      }

      button:hover {
        background-color: var(--color-violet);
        color: white;
      }
    }
  }

  .add-user {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    input {
      width: calc(100% - 20px);
      padding: 10px;
      font-size: 1.25rem;
      font-weight: 500;
      border: none;
      outline: none;
      background-color: rgb(230, 230, 230);
      border-radius: 5px;
    }

    form {
      padding: 30px 60px 60px 60px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      .input-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        .input-field {
          display: flex;
          flex-direction: column;
          min-width: 25vw;

          select {
            padding: 10px 10px;
            font-size: 1.25rem;
            font-weight: 500;
            border: none;
            outline: none;
            background-color: rgb(230, 230, 230);
            border-radius: 5px;
          }
        }
      }

      .image-upload {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          width: 20vw;
        }
      }

      .submit-btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
          padding: 10px 30px;
          border-radius: 5px;
          font-size: 1.25rem;
          font-weight: 800;
          cursor: pointer;
          border: solid 2px var(--color-violet);
          color: var(--color-violet);
          transition: all 0.3s ease;
        }

        button:hover {
          color: white;
          background-color: var(--color-violet);
        }
      }
    }
  }

  .error-container {
    width: calc(100% - 20px);
    border-radius: 10px;
    padding: 10px;
    border: solid 2px rgb(114, 17, 17);
    background-color: rgb(255, 181, 181);

    p {
      font-size: 1.25rem;
      font-weight: 600;
      color: rgb(114, 17, 17);
      text-align: center;
    }
  }

  .success-container {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: solid 2px rgb(33, 114, 17);
    background-color: rgb(190, 255, 181);

    p {
      font-size: 1.25rem;
      font-weight: 600;
      color: rgb(33, 114, 17);
      text-align: center;
    }
  }
}
