.ordered-items {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-violet);
  }

  .order-item {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);

    .order-details {
      padding: 20px;
      display: flex;
      gap: 2vw;

      img {
        width: 200px;
        border-radius: 20px;
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
