/* Product Css */
.product-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;

  .product-card {
    max-width: 300px;
    min-width: 200px;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);

    img {
      width: 100%;
      border-radius: 10px;
    }

    .product-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0 0 0;

      .product-info {
        width: 100%;
        display: flex;
        justify-content: space-between;

       p {
        font-size: 1.25rem;
        font-weight: 500;
        color: black;
       }

        .name,
        .price {
          font-size: 1.5rem;
        }

        .name {
          font-weight: 800;
          color: var(--color-violet);
        }

        .price {
          font-weight: 600;
          color: var(--color-red);
        }
      }

      svg {
        width: 50px;
        height: 40px;
        padding: 5px;
        border-radius: 5px;
        color: var(--color-violet);
        cursor: pointer;
        transition: all 0.3s ease;
      }

      svg:hover {
        color: var(--color-pale-violet);
        background-color: var(--color-violet);
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
