/* Product Css */
.product-container {
  display: flex;
  gap: 5vh;
  border-radius: 20px;

  .product-card {
    max-width: 300px;
    min-width: 200px;
    border-radius: 10px;
    padding: 40px;
    background-color: var(--color-pale-violet);
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      border-radius: 10px;
    }

    .product-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0 0 0;

      .product-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
  
        p:first-child {
          font-size: 1.5rem;
          font-weight: 600;
        }
  
        p {
          text-align: start;
          font-size: 1.25rem;
          font-weight: 500;
        }
      }

      svg {
        width: 50px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        color: var(--color-violet);
        cursor: pointer;
        transition: all 0.3s ease;
      }

      svg:hover {
        width: 60px;
        height: 50px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .notify {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);

    span,
    p {
      font-size: 1.5rem;
      font-weight: 500;
    }

    span {
      font-weight: 700;
      color: var(--color-violet);
    }
  }
}
