.home-retailer {
  position: relative;

  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-violet);
  }

  .side-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7vh;
    left: 0;
    width: 5vw;
    min-width: 100px;
    height: 95vh;
    border-right: solid 2px var(--color-violet);
    transition: all 0.5s ease;

    &.expanded {
      width: 15vw;
      min-width: 200px;

      &::after {
        opacity: 0;
      }
    }

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 60px 30px 60px 10px;
      list-style-type: none;

      li {
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;

        svg {
          min-width: 20px;
          min-height: 20px;
        }

        p {
          margin-left: 10px;
          transition: opacity 0.3s;
          opacity: 0;
          font-size: 1.25rem;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:not(.expanded)::after {
          content: attr(data-tooltip);
          position: absolute;
          left: 105%;
          white-space: nowrap;
          background-color: var(--color-violet);
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          opacity: 0;
          transform: translateX(10px);
          transition: opacity 0.3s, transform 0.3s;
          pointer-events: none;
        }

        &:not(.expanded):hover::after {
          opacity: 1;
          transform: translateX(0);
        }
      }

      li:hover {
        color: white;
        background-color: var(--color-violet);
      }

      li.active {
        color: white;
        background-color: var(--color-violet);
      }
    }

    &.expanded li:hover::after {
      display: none;
    }

    &.expanded ul li p {
      opacity: 1;
    }

    .toggle-sidebar {
      position: absolute;
      right: -20px;
      bottom: 55%;
      border-radius: 50%;
      background-color: white;
      padding: 5px;
      cursor: pointer;
      border: solid 2px var(--color-violet);
    }
  }

  .sidebar-content {
    position: relative;
    transition: all 0.5s ease;
  }

  .shop-performance {
    .metrics-container {
      display: flex;
      justify-content: space-between;
      padding: 40px;

      .metric {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;

        .metric-value {
          width: 10vw;
          padding: 30px;
          border-radius: 20px;
          font-size: 1.75rem;
          font-weight: 700;
          text-align: center;
          border: solid 3px var(--color-violet);
        }

        .metric-label {
          font-size: 1.75rem;
          font-weight: 600;
        }
      }
    }
  }
}