.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  background-image: url(../images/sign-bg.jpg);

  .sign-container {
    min-width: 25vw;
    min-height: 65vh;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);

    a {
      text-decoration: none;
    }

    header {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
          font-size: 2.5rem;
          color: var(--color-violet);
        }

        img {
          width: 50px;
        }
      }

      .button-container {
        display: flex;
        gap: 100px;

        button {
          background: none;
          border: none;
          font-size: 1.25rem;
          font-weight: 700;
          border-bottom: solid 2px rgba(0, 0, 0, 0);
          cursor: pointer;
          transition: all 0.3s ease;
        }

        button.active,
        button:hover {
          border-bottom: solid 2px var(--color-violet);
        }
      }
    }
  }
}

/* SIGN IN CSS */

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0 20px 0;
  height: inherit;

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: inherit;
    gap: 20px;

    .input-field {
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        font-size: 1.5rem;
        font-weight: 600;
      }

      input {
        outline: none;
        padding: 10px;
        width: 20vw;
        font-size: 1.25rem;
        border-radius: 5px;
        border: none;
      }
    }

    .button-container {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      button {
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        padding: 10px 20px;
        width: fit-content;
        font-size: 1.25rem;
        font-weight: 800;
        background-color: var(--color-pale-stone);
        color: var(--color-violet);
        cursor: pointer;
        transition: all 0.3s ease;
      }

      button:hover {
        background-color: var(--color-violet);
        color: var(--color-pale-stone);
      }

      a {
        text-decoration: none;
        color: var(--color-dark-gray);
        font-size: 1.25rem;
        font-weight: 500;
      }
    }
  }

  .sign-google {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .google-text {
      display: flex;
      align-items: center;
      width: inherit;
      gap: 10px;

      p {
        color: var(--color-dark-gray);
        font-size: 1.25rem;
        font-weight: 600;
      }

      div {
        height: 2px;
        width: 5vw;
        background-color: var(--color-violet);
      }
    }

    svg {
      color: var(--color-violet);
      padding: 5px;
      border-radius: 5px;
      background-color: var(--color-pale-stone);
      cursor: pointer;
      transition: all 0.3s ease;
    }

    svg:hover {
      color: var(--color-pale-stone);
      background-color: var(--color-violet);
    }
  }
}

/* SIGN UP CSS */

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0px 0;
  height: inherit;

  form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 3);
    gap: 20px;
    place-items: center;

    .grid1 {
      grid-column: 1 / 3;
      width: 100%;
    }

    .grid2 {
      grid-column: 1 / 2;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .grid3 {
      grid-column: 2 / 3;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .grid4 {
      grid-column: 1 / 3;
    }

    .input-field {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        font-size: 1.25rem;
        font-weight: 600;
      }

      input {
        outline: none;
        padding: 7px;
        width: calc(100% - 10px);
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        border: none;
      }

      select {
        outline: none;
        padding: 7px;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }

      select option {
        font-weight: 500;
      }

      select::-ms-expand,
      select::-webkit-select,
      select::-moz-select {
        background-color: none;
      }
    }

    .button-container {
      button {
        border: none;
        border-radius: 10px;
        margin-top: 40px;
        padding: 10px 20px;
        width: fit-content;
        font-size: 1.25rem;
        font-weight: 800;
        background-color: var(--color-pale-stone);
        color: var(--color-violet);
        cursor: pointer;
        transition: all 0.3s ease;
      }

      button:hover {
        background-color: var(--color-violet);
        color: var(--color-pale-stone);
      }
    }
  }
}
